:root {
    --color-bg: #B1D4E0;
    --color-light-blue: #2E8BC0;
    --color-dark-blue: #0C2D48;
    --color-blue: #145DA0;
    --color-red: #DF362D;
}

/* TEXT COLOR */
.sb-color__white {
    color: #fff;
}

/* ELEMENTS */
hr {
    border-color: var(--color-dark-blue);
}

/* BORDERS */
.sb-border__thin {
    border: 2px solid var(--color-dark-blue);
}

.sb-border__thick {
    border: 3px solid var(--color-dark-blue);
}

/* BUTTONS */
.sb-btn__main {
    border: 2px solid var(--color-dark-blue);
    border-radius: 10px;
    background-color: var(--color-light-blue);
    color: #fff;
    line-height: 50px;
    font-weight: 700;
    transition: .3s;
}
.sb-btn__main:hover {
    background-color: #fff;
    color: var(--color-light-blue);
}

.sb-btn__danger {
    border: 2px solid var(--color-dark-blue);
    border-radius: 10px;
    background-color: var(--color-red);
    color: #fff;
    line-height: 50px;
    font-weight: 700;
    transition: .3s;
}
.sb-btn__danger:hover {
    background-color: #fff;
    color: var(--color-red);
}

/* TABLE */
.sb-table {
    border: 2px solid var(--color-dark-blue);
}

.sb-table a {
    color: var(--color-light-blue);
}

.sb-table thead {
    background-color: var(--color-light-blue);
}

.sb-table tbody tr:nth-child(even) {
    background-color: #fff;
}
.sb-table tbody tr:nth-child(odd) {
    background-color: #f8f8f8;
}

.sb-table th {
    color: #fff;
    font-weight: 700;
}
.sb-table td {
    color: #333;
}

/* CONTAINERS */
.sb-container__main-wrapper {
    background-color: var(--color-bg);
    min-height: 100vh;
    padding-bottom: 70px;
}

.sb-menu__main-wrapper {
    border-top: 2px solid var(--color-dark-blue);
    border-bottom: 2px solid var(--color-dark-blue);
    background-color: var(--color-blue);
    padding: 10px 0;
}

.sb-box__main-wrapper {
    background-color: var(--color-blue);
    border-radius: 20px;
    padding: 40px;
    color: #f1f1f1;
}

/* MODALS */
.uk-modal-body.sb-box__main-wrapper a {
    background: white;
    padding: 3px;
    border: 2px solid var(--color-dark-blue);
    border-radius: 5px;
}